<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <p class="h1 d-flex justify-content-center" style="font-family: 'Brush Script MT', 'Lucida Handwriting'">Buy me Coffee Clone ☕</p>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#login" role="tab">
                    <i class="bi bi-person-fill mr-1"></i>Login
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#register" role="tab">
                    <i class="bi bi-person-plus-fill mr-1"></i>Register
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in show active" id="login" role="tabpanel">
                  <div class="body mb-1">
                    <%= render "devise/shared/signin" %>
                  </div>
                </div>
                <div class="tab-pane fade" id="register" role="tabpanel">
                  <div class="body mb-1">
                    <%= render "devise/registrations/new" %>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <%= render "devise/shared/footer" %>
</section>

